.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview/**
.gitignore
.yarnrc
extension.config.js
webview.config.js
QUICKSTART.md
QUICKSTART.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
